/* home.module.css */
.shape {
  height: 0;
  width: 0;
  border-bottom: 40px solid #1f2937; /* darker black-gray */
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  margin: 0 auto; /* centers the triangle */
}
